body {
  width: 960px;
  font-size: sans-serif;
  font-size: white;
  background: #ff8080;
  margin: 0 auto;



}



h1 {
  position: relative;
  background: #808080;
  display: block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
}

#main {

  color: white;
  background: black;

}


.pic {
  width: 200px;
  height: 200px;
}
li {

}
button {
  margin-bottom: 20px;
  color: black;
  background: white;
  width: 66px;
}




.red {
  background: red;
  width: 200px;
  margin-bottom: 10px;
}

.blue {
  background: blue;
  width: 200px;
  margin-bottom: 10px;
}
ul {
  position: relative;
  left: 380px;
}

ul li {
  list-style-type: none;
}

.gameover {
  background: red;
  position: fixed;
  z-index: 100;
  color: white;
  top: 300px;
  left: 400px;
  text-align: center;
  font-size: 30px;
  display: block;
  padding: 10px 25px;
  opacity: 0.8;
}






