body {
  font-size: sans-serif;
  font-size: white;
  background: black;
}

h1 {
  position: relative;
  background: #808080;
  display: block;
  text-align: center;
}

#main {
  width: 960px;
  margin: 0 auto;
  color: white;

}


.pic {
  width: 200px;
  height: 200px;
}
li {
  list-style-type: none;
}
button {
  margin-bottom: 20px;
  color: black;
  background: white;
  width: 66px;
}


#res {
  position: fixed;
  top: 200px;
  left: 500px;
  font-size: 40px;

}
.red {
  background: red;
  width: 200px;
  margin-bottom: 10px;
}

.blue {
  background: blue;
  width: 200px;
  margin-bottom: 10px;
}
